<cf-frontend-sdk-cplace-dialog-skeleton
  [title]="'cf-platform-lib-send-link-dialog.title' | translate"
  [submitButtonLabelVariant]="submitButtonLabelVariant"
  [cancelButtonLabelVariant]="cancelButtonLabelVariant"
  [(visible)]="visible"
  cf-frontend-sdk-d-cplace-form-provider
  [formModel]="formModel"
>
  <div class="flex flex-column">
    <cf-frontend-sdk-control [controlState]="recipientsControlState" [singleColumn]="true"></cf-frontend-sdk-control>
    <p-message severity="info" [text]="'cf-platform-lib-send-link-dialog.info' | translate" class="mb-3 p-1"></p-message>
    <cf-frontend-sdk-control [controlState]="messageControlState" [showLabel]="false"></cf-frontend-sdk-control>
  </div>
</cf-frontend-sdk-cplace-dialog-skeleton>
